[Unit]
Description=Heating controller

[Service]
Type=exec
WorkingDirectory=/home/pi/kang
ExecStart=/path/to/kang
KillSignal=SIGINT
StandardOutput=inherit
StandardError=inherit
User=pi

[Install]
WantedBy=multi-user.target
