[Unit]
Description=Heating controller

[Service]
Type=exec
WorkingDirectory=/home/pi/
ExecStart=/home/pi/.local/bin/kang
KillSignal=SIGINT
StandardOutput=inherit
StandardError=inherit
User=root

[Install]
WantedBy=multi-user.target
